{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Form Builder{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3 align="center">Hello! Let's work on the consent for {% if current_user.is_authenticated %}{{ current_user.studyname }}{% endif %}!</h3>
</div>
<div align="center">

  <a class="btn btn-default" href="{{ url_for('.edit_consent') }}">Edit Consent</a>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
